@mixin reset {
  html {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

    max-width: 1440px;
    margin: 0 auto;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }
}
