body {
  background-image: url('/src/images/backgrounds/saida.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

nav {
  background-color: rgb(255, 254, 254, 0.7);
  position: fixed;
  width: 500px;
  height: 289px;
  left: 30px;
  top: 185px;
  border-radius: 30px;
}

p {
  font-family: Roboto;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: center;
  color: #263b58;
}

button {
  position: fixed;
  width: 235px;
  height: 57px;
  left: 153px;
  top: 290px;
  background: #263b58;
  border-radius: 8px;
  display: flex;
}

.buttons_sair {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 15px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fffefe;
  position: fixed;
  top: 302px;
  left: 246px;
  text-decoration: none;
  box-shadow: none;
}

a {
  position: fixed;
  width: 221px;
  height: 31px;
  left: 167px;
  top: 380px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration-line: underline;
  display: block;
  color: #263b58;
}
