/*Página principal*/

html {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}
.header {
  display: flex;
  margin: 20px 50px;
}
.header__logo {
  width: 40%;
  display: flex;
  align-items: center;
}
.header__logo--icon {
  background-image: url('/src/images/icons/Logo_Header.png');
  background-size: cover;
  width: 50px;
  height: 50px;
}
.header__logo--text {
  background-image: url('/src/images/icons/Logo_Header_2.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 300px;
  height: 40px;
}
.header nav {
  width: 60%;
}
.header__navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 280px;
}
.header__navbar--tab {
  color: #9dc8cf;
  font-weight: 700;
  cursor: pointer;
}
.header__navbar--tab:hover {
  color: #263b58;
}
.header__navbar--tab:active {
  color: #263b58;
}
.header__navbar--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 120px;
  color: #263b58;
  font-weight: 700;
  background-color: #9dc8cf;
  border-radius: 5px;
  cursor: pointer;
}
.header__navbar--btn:visited {
  color: #263b58;
}
.header__navbar--btn:hover {
  color: #9dc8cf;
  background-color: #263b58;
}
.header__navbar--btn:hover:visited {
  color: #9dc8cf;
}

main {
  width: 100%;
  max-width: 1240px;

  display: flex;
  justify-content: space-between;
  margin: 0 100px;
}

.main {
  width: 73%;
  display: flex;
  flex-direction: column;
}

.main__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 33px;
  text-align: center;

  color: #467495;
  margin-bottom: 30px;
}

.main__users {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.main__users--top {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.cards {
  display: flex;
  flex-direction: column;

  width: 400px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;

  background: #fffefe;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 0px;
}

.cards__img--idosa {
  width: 400px;
  height: 390px;

  display: flex;
  align-items: flex-end;

  background-image: url('/src/images/people/julieta.jpg');
}

.cards__img--cuidadora {
  width: 400px;
  height: 390px;

  display: flex;
  align-items: flex-end;

  background-image: url('/src/images/people/eleonora.jpg');
}

.card__img--user {
  width: 100%;
  height: 60px;
  background-color: rgb(157, 200, 207, 0.5);

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__img--user h3 {
  font-size: 18px;
  font-weight: bold !important;
  line-height: 21px;
  font-weight: normal;
  color: rgba(38, 59, 88, 1);
  margin: 0px 5px 0px 10px;
}

.card__img--user h4 {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: rgba(38, 59, 88, 1);
  margin: 0px 5px 0px 10px;
}

.card__info {
  display: flex;
  flex-direction: column;
}

.card__info {
  display: flex;
  flex-direction: column;

  background-color: rgb(157, 200, 207, 0.5);
}
.card__info--description {
  color: rgba(38, 59, 88, 1);
  margin: 20px 10px;
  text-align: justify;
  height: 100px;
}

.card__info--btn {
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: rgb(157, 200, 207, 0.5);
}
.card__info--btn a {
  font-size: 18px;
  line-height: 21px;
  font-weight: bold;
  text-align: center;

  color: rgba(38, 59, 88, 1);
}

.card__info--btn:hover {
  background-color: #467495;
}
.img {
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
}

aside {
  width: 23%;
}
.tudo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}
.buscar {
  display: flex;
  flex-direction: column;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;

  background: #fffefe;
  border: 0.5px solid #9dc8cf;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;

  width: 281px;
  height: 1200px;
}
.buscar h2 {
  font-size: 18px;
  line-height: 21px;
  color: #467495;

  margin: 15px 15px 40px 10px;

  padding-bottom: 10px;
  border-bottom: solid 0.5px #9dc8cf;
}
.check {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  color: #467495;

  margin: 15px 15px;
}
#check {
  color: #467495;
}
.dropdown {
  background: #fffefe;
  border: 0.5px solid #9dc8cf;
  box-sizing: border-box;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  color: #467495;

  width: 225px;
  margin: 0px 15px 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px 150px;
  height: 300px;
  width: 100%;
  background-color: #263b58;
  color: #fffefe;
}
.footer__nav li {
  margin: 5px 0;
}
.footer__nav li a {
  cursor: pointer;
  color: #fffefe;
}
.footer__nav li a:hover {
  font-weight: 700;
  color: #ddab86;
}
.footer__nav li a:visited {
  color: #fffefe;
}
.footer__nav li a:visited:hover {
  font-weight: 700;
  color: #ddab86;
}
.footer__nav p {
  padding-top: 30px;
}
.footer__socials i {
  font-size: 30px;
  padding: 10px 10px 0 0;
}
.footer__socials i:hover {
  color: #ddab86;
}
.footer__contact {
  width: 400px;
}
.footer__contact--name,
.footer__contact--email,
.footer__contact--message {
  height: 30px;
  width: 100%;
  margin: 5px 0;
  border: none;
  border-radius: 7px;
  background-color: #467495;
  color: #fffefe;
  font-weight: 600;
  padding-left: 8px;
}
.footer__contact--name::placeholder,
.footer__contact--email::placeholder,
.footer__contact--message::placeholder {
  color: #fffefe;
  font-weight: 400;
  opacity: 60%;
}
.footer__contact--message {
  font-family: 'Roboto', sans-serif;
  height: 80px;
  width: 100%;
  margin: 5px 0;
  padding-top: 5px;
  border: none;
  border-radius: 7px;
  background-color: #467495;
}
.footer__contact--message::placeholder {
  color: #fffefe;
  opacity: 60%;
}
.footer__contact--btn {
  width: 80px;
  height: 30px;
  border: none;
  border-radius: 7px;
  background-color: #467495;
  color: #fffefe;
  font-weight: 600;
}
.footer__contact--btn:hover {
  background-color: #ddab86;
}
