@import 'variables';
@import 'utilities';

@include reset;

.register {
  width: 100%;
  height: 100vh;

  background-image: url(../src/images/backgrounds/register_4.jpg);
  background-size: cover;
  opacity: 90%;

  display: flex;
  justify-content: center;
  align-items: center;

  &__modal {
    width: 600px;
    height: 300px;

    background-color: rgba(255, 254, 254, 0.8);
    border-radius: 30px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px 80px;

    p {
      color: $darkBlue;
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 40px;
    }

    &--login {
      display: flex;
      align-items: center;
      justify-content: center;

      height: 45px;
      width: 170px;

      margin: 5px 0;

      background-color: $lightBlue;
      border-radius: 7px;
      color: $darkBlue;
      font-weight: 700;

      &:hover {
        background-color: $darkBlue;
        color: $lightBlue;
      }
    }
  }
}
